@fontface {
	font-family: "BigNoodleTitling";
	src: url("fonts/big_noodle_titling.ttf") format('truetype');
}
@fontface {
	font-family: "DroidSerif";
	src: url("fonts/DroidSerif-Regular.ttf") format('truetype');
}
@fontface {
	font-family: "DroidSerif";
	src: url("fonts/DroidSerif-Bold.ttf") format('truetype');
	font-weight: bold;
}
@fontface {
	font-family: "DroidSerif";
	src: url("fonts/DroidSerif-Italic.ttf") format('truetype');
	font-style: italic;
}

body {
	margin: 0;
}

#home {
	height: 100%;
	width: 100%;
	background-image: url("./img/fond.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

@media (max-width: 500px) {
	#home {
		height: inherit;
	}
}

#home h1 {
	font-family: BigNoodleTitling;
	font-size: 80px;
	color: white;
	text-align: center;
	padding-top: 30vh;
	margin-top: 0;
	margin-bottom: 0;
}

#home p {
	font-family: DroidSerif;
	font-style: italic;
	color: white;
	width: 50%;
	text-align: center;
	margin: auto;
}

#home a {
	width: auto;
}

#home a img {
	display: block;
	margin: 20px auto 0 auto;	
	-ms-transform: scale(0.5) rotate(90deg); /* IE 9 */
    -webkit-transform: scale(0.5) rotate(90deg); /* Chrome, Safari, Opera */
    transform: scale(0.5) rotate(90deg);
}

hr {
	border: 0;
	height: 2px;
	width: 30%;
	background: rgba(255,255,255,0.5);
	margin-bottom: 20px;
}
